


<fieldset>
<%= form_tag sessions_path do %>
      <div class="fr"><%= image_submit_tag("loginbutton.fw.png") %></div>
      <%= text_field_tag :username%><br />
      <%= password_field_tag :password %><br />


<% end %>
</fieldset>