
<p>Explore What You Can Do</p>

<p>1. Confirm by logging in and view your Homepage</p>
<p>2. Explore Regions to Discover Users</p>
<p>3. Browse Their Recipes To See What they are cooking</p>
<p>4. Find Recipes by browsing by ingredients on The Recipes Page</p>
<p>5. Improve Your Regional Profile by adding content.</p>
